*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  min-width: 1440px;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 85px;
}

.logo {
  width: 48px;
  height: 48px;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.contact__title, .reviews__title, .app-download__title, .menu__title, .about-us__title, .features__title {
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-size: 31px;
  line-height: 130%;
}

.dish__name, .feature__title {
  font-family: "Philosopher", sans-serif;
  color: #150c01;
  font-weight: 700;
  font-size: 25px;
  line-height: 96%;
}

.reviews__description, .app-download__description, .dish__description, .menu__description, .about-us__description, .feature__description, .main-content__description {
  color: #150c01;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  opacity: 0.7;
}

.contact__highlight, .reviews__highlight, .app-download__highlight, .menu__highlight, .about-us__highlight, .features__highlight {
  color: #d68a2e;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  opacity: 0.7;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top-part__button {
  display: inline-block;
  color: #fff;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  background: #d68a2e;
  border: 1.5px solid #c76a1a;
  border-radius: 20px;
  cursor: pointer;
  padding: 12px 20px;
  margin-left: auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.top-part__button:hover {
  background-color: #c76a1a;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav {
  margin-left: 30px;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.nav__item {
  color: #150c01;
  font-weight: 400;
  font-size: 16px;
  opacity: 0.6;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.nav__item:hover {
  color: #d68a2e;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.nav__item a {
  color: inherit;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 46px;
}
.main-content__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  margin-right: 30px;
  width: 90%;
}
.main-content__title {
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 118%;
}
.main-content__button-order {
  display: inline-block;
  color: #fff;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  background: #d68a2e;
  border: 1.5px solid #c76a1a;
  border-radius: 20px;
  cursor: pointer;
  padding: 12px 30px;
  background-color: transparent;
  color: #d68a2e;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.main-content__button-order:hover {
  -webkit-box-shadow: 0 0 5px rgb(172, 145, 120);
          box-shadow: 0 0 5px rgb(172, 145, 120);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.features__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 50px;
  margin-top: 35px;
}
.features__list li:first-child > .feature__picture {
  background-color: #f6e2be;
}
.features__list li:nth-child(2) > .feature__picture {
  background-color: #eeeeb8;
}
.features__list li:nth-child(3) > .feature__picture {
  background-color: #fdd7d7;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 52px 52px;
  border: 0.5px solid #ccc;
  border-radius: 35px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.feature:hover {
  -webkit-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.05);
}
.feature__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 88px;
  height: 88px;
  border-radius: 100%;
}
.feature__title {
  margin-top: 30px;
  margin-bottom: 15px;
}
.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.about-us img {
  width: 555px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
  opacity: 0.8;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
.about-us__title {
  margin-top: 10px;
  margin-bottom: 25px;
}
.about-us__description {
  margin-bottom: 35px;
}
.about-us__button {
  display: inline-block;
  color: #fff;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  background: #d68a2e;
  border: 1.5px solid #c76a1a;
  border-radius: 20px;
  cursor: pointer;
  padding: 12px 28px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.about-us__button:hover {
  background-color: #c76a1a;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  text-align: center;
  margin-bottom: 70px;
}
.menu__title {
  margin-bottom: 25px;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.menu__button {
  display: inline-block;
  color: #fff;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  background: #d68a2e;
  border: 1.5px solid #c76a1a;
  border-radius: 20px;
  cursor: pointer;
  padding: 12px 30px;
  width: 152px;
  margin-top: 50px;
  background-color: transparent;
  color: #d68a2e;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.menu__button:hover {
  -webkit-box-shadow: 0 0 5px rgb(172, 145, 120);
          box-shadow: 0 0 5px rgb(172, 145, 120);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.dish {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(33.33% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 75px 10px 10px 10px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.dish:nth-child(3n) {
  margin-right: 0;
}
.dish:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.dish:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}
.dish__image {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.dish__info {
  padding: 20px;
}
.dish__name-and-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}
.dish__price {
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 96%;
  color: #150c01;
}
.dish__description {
  margin-bottom: 20px;
}
.dish__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dish__add-to-cart {
  display: inline-block;
  color: #fff;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  background: #d68a2e;
  border: 1.5px solid #c76a1a;
  border-radius: 20px;
  cursor: pointer;
  padding: 12px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
}
.dish__add-to-cart svg {
  width: 15px;
  height: 15px;
}
.dish__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3px;
}
.dish__rating svg {
  width: 16px;
  height: 16px;
}

.section-with-bg {
  background: #fbf1e7;
}

.app-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 30px;
}
.app-download__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 50px;
  width: 50%;
}
.app-download__title {
  margin-top: 10px;
  margin-bottom: 25px;
}
.app-download__description {
  margin-bottom: 35px;
}

.apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.apps__button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.reviews__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  text-align: center;
  margin-bottom: 70px;
}
.reviews__title {
  margin-bottom: 25px;
}
.reviews__description {
  width: 70%;
}

.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 24px;
  width: 525px;
}
.review__person-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.review__person-name {
  font-family: "Philosopher", sans-serif;
  font-weight: 500;
  font-size: 24px;
}
.review__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.review__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.review__star {
  width: 24px;
  height: 24px;
}
.review__span {
  margin-left: 12px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 0;
}
.contact__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}
.contact__title {
  text-align: center;
  width: 70%;
}
.contact__form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.message-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  width: 750px;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.message-form__input {
  width: 100%;
  padding: 10px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.message-form__input:focus {
  outline: none;
  border: 1px solid #ccc;
}
.message-form__button {
  position: absolute;
  right: 10px;
  margin-right: 10px;
  display: inline-block;
  color: #fff;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  background: #d68a2e;
  border: 1.5px solid #c76a1a;
  border-radius: 20px;
  cursor: pointer;
  padding: 10px 40px;
}

footer {
  background-color: #111116;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 80px;
  padding-bottom: 50px;
  margin-top: 0;
  margin-bottom: 0;
}
.footer img {
  margin-bottom: 15px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.contacts__item a,
.contacts p {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  opacity: 0.7;
}

.info__table th {
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  text-align: left;
}
.info__table td:not(:last-child) {
  border-right: 140px solid transparent;
}
.info__table th,
.info__table td {
  padding: 8px;
}
.info__table td a {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  opacity: 0.7;
}
.info__table td a:hover {
  opacity: 1;
}

.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.network-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.network-item__link:hover {
  -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  opacity: 1;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.network-item__link--instagram {
  background-color: #6c27b3;
}
.network-item__link--facebook {
  background-color: #4a7aff;
}
.network-item__link--twitter {
  background-color: #55acee;
}
.network-item__link--youtube {
  background-color: #d22215;
}
.network-item__link svg {
  width: 13px;
  height: 13px;
  fill: #fff;
}/*# sourceMappingURL=main.css.map */