.menu {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    text-align: center;

    margin-bottom: 70px;
  }

  &__highlight {
    @extend %span;
  }

  &__title {
    @extend %h2;
    margin-bottom: 25px;
  }

  &__description {
    @extend %description;
  }

  &__list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  &__button {
    @include button($buttonsAndHoverOrangeColor, 30px, 12px);
    width: 152px;
    margin-top: 50px;

    background-color: transparent;
    color: $buttonsAndHoverOrangeColor;

    transition: all 0.5s ease;
    &:hover {
      box-shadow: 0 0 5px $lightButtonHover;
      transition: all 0.5s ease;
    }
  }
}

.dish {
  flex-direction: column;
  width: calc(33.33% - 20px);

  margin-right: 20px;
  margin-bottom: 20px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 75px 10px 10px 10px;

  transition: transform 0.3s ease;
  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }

  &:hover {
    transform: scale(1.02);
  }

  &__image {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  &__info {
    padding: 20px;
  }

  &__name-and-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__name {
    @extend %h3;
  }

  &__price {
    font-family: 'Philosopher', sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 96%;
    color: $mainBlackColor;
  }

  &__description {
    @extend %description;
    margin-bottom: 20px;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__add-to-cart {
    @include button($buttonsAndHoverOrangeColor, 12px, 12px);
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    font-weight: 300;

    svg {
      width: 15px;
      height: 15px;
    }
  }

  &__rating {
    display: flex;
    gap: 3px;
    svg {
      width: 16px;
      height: 16px;
    }
  }
}
