$mainBlackColor: #150c01;
$buttonsAndHoverOrangeColor: #d68a2e;
$darkButtonHover: #c76a1a;
$lightButtonHover: rgb(172, 145, 120);
$whiteColor: #fff;
$bgColorSection: #fbf1e7;
$bgColorFooter: #111116;
$borderColor: #ccc;

$firstFeaturePictureBg: #f6e2be;
$secondFeaturePictureBg: #eeeeb8;
$thirdFeaturePictureBg: #fdd7d7;

$bgColorInstagram: #6c27b3;
$bgColorFacebook: #4a7aff;
$bgColorTwitter: #55acee;
$bgColorYoutube: #d22215;
