%h2 {
  font-family: 'Philosopher', sans-serif;
  font-weight: 700;
  font-size: 31px;
  line-height: 130%;
}

%h3 {
  font-family: 'Philosopher', sans-serif;
  color: $mainBlackColor;
  font-weight: 700;
  font-size: 25px;
  line-height: 96%;
}

%description {
  color: $mainBlackColor;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  opacity: 0.7;
}

%span {
  color: $buttonsAndHoverOrangeColor;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  opacity: 0.7;
}
